{{ define "main" }}
<main>
  <article>
    <div class="title">
      <h1 class="title">{{ .Title }}</h1>
    </div>

    {{ partial "authors.html" .Params.authors }}
    {{ with .Params.doi }}
    <p>DOI: <a href="https://doi.org/{{ . }}">{{ . }}</a></p>
    {{ end }}
    {{ with .Params.arxiv }}
    <p>Available on arXiv: <a href="https://arxiv.org/abs/{{ . }}">{{ . }}</a></p>
    {{ end }}
    {{ with .Content }}
    <h3>Abstract:</h3>
    <section>{{ . }}</section>
    {{ end }}
  </article>
</main>
{{ end }}
